/* header styles - task 3 */
header {
	height: 70px;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #CCCCCC;
}

.logo {
	background: url("../images/logo.png") no-repeat center;
	height: 100%;
	width: 142px;
	margin-left: 20px;
}
